<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
  <head>
    <title>home</title>
  </head>

<body class="bg-danger-subtle">

<%- include('partials/navbar') %>

<!-- Hero's/ welcome section -->
  <div class="container mb-5 bg-info-subtle">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="bg-info-subtle text-center" style="border-radius: 0px 15px 15px 15px;">
        <h1 class="fw-bolder fs-1">Welcome to WorkIt</h1>
        <p class="fs-5">"Discover endless career opportunities with WorkIt. Your journey to fulfilling career begins here. <br>Are you an employer? WorkIt offers the best talent."</p>
        <li class="nav-item mb-2">
          <a class="nav-link bg-white text-black fw-bolder fs-6 p-2" href="#" style="border-radius: 45px; display: inline;">Get Started</a>
        </li>
      </div>
      <div >
        <img src="images/Artisans-2.jpg" alt="" class="img-fluid">
      </div>
    </div>

    
  </div>

  <div class="container">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ullam quam harum quis modi quas laboriosam consequuntur assumenda minus commodi hic et deleniti unde quisquam maiores ut fuga sapiente, dolorem suscipit magnam beatae doloribus, quidem exercitationem! Ipsum ab, molestiae corporis explicabo voluptatibus placeat cum eius quidem id accusamus? Corporis est rem, excepturi aperiam natus laudantium, molestias fuga dolorem velit numquam adipisci ipsa architecto tempora similique officiis asperiores maxime saepe incidunt ullam aliquam voluptas eveniet optio eius. Magni harum tempore explicabo ratione. Porro eum necessitatibus tenetur reprehenderit quaerat! Blanditiis, iure. Magni rem dolor velit recusandae libero natus inventore ab, quae excepturi reprehenderit consequatur porro commodi quidem, quibusdam minima beatae accusamus exercitationem, sit tenetur et vel ullam eius. Dolorem voluptatum voluptas velit numquam tenetur suscipit corrupti. Facere, neque temporibus nesciunt, molestias qui placeat ipsam veritatis autem aperiam quae quos, nihil corporis perferendis. Sint magni deleniti placeat debitis aliquid laborum minima, repudiandae quisquam suscipit beatae quasi aliquam vel doloribus ipsum voluptatibus enim. Rem, quo eius mollitia debitis ducimus laborum ipsa eligendi totam, nesciunt maxime commodi molestias velit alias veniam quaerat. Assumenda eligendi perferendis sed architecto facere praesentium quidem culpa corrupti dignissimos quam eaque aspernatur, possimus illo, aut ullam saepe ipsam voluptas! Nulla, culpa odio. Odit distinctio unde provident at nihil sit vitae a qui autem error est numquam inventore, fuga possimus recusandae quibusdam assumenda accusamus et aspernatur nemo harum consequatur ut nobis quod! Doloremque architecto repellat totam, molestiae eos repellendus ut eius quam, natus quo sit! Eligendi ipsa animi iusto quam commodi quidem. Non, perspiciatis cupiditate. Molestiae molestias totam repellat accusamus quod voluptatum? Corrupti eaque, necessitatibus, recusandae blanditiis tempora dignissimos voluptatem distinctio dolor velit laboriosam dolores. Atque autem expedita voluptate ea minus dicta fugit dolorem magni vitae voluptates ipsam unde dolores sapiente, aut ex pariatur odit cum architecto. Tempora, repellat? Facere nesciunt expedita quas soluta obcaecati iste autem placeat, fugit, quae, veritatis ex neque doloremque qui vitae fuga perspiciatis reiciendis ipsam modi consectetur omnis. Eligendi magnam nisi reprehenderit, eos odit excepturi, aspernatur molestiae voluptate minima necessitatibus quasi maxime reiciendis velit dolore repellendus vitae unde. Enim eligendi, atque deleniti laboriosam explicabo reprehenderit ipsum earum at illum odit quae dicta officia? Ex ipsam pariatur voluptate debitis ipsa magni ullam est saepe cum earum modi expedita delectus possimus, corporis blanditiis vel, dignissimos hic atque obcaecati? Ducimus ratione quod nisi quidem doloremque magni voluptatibus, quae ipsum est hic illo, libero repudiandae corporis odio dolores minima voluptas sit exercitationem voluptates accusamus nam suscipit sunt ipsam modi! Ipsum officiis amet dolor, fuga ducimus optio praesentium repellendus dolorem delectus minima repellat, officia hic accusantium incidunt sint maiores ex assumenda! Odio ut voluptas doloremque et, sunt sint sit autem totam eum nihil explicabo cumque alias, debitis ad tempora libero. Deleniti itaque, deserunt ut ad possimus dignissimos facilis nostrum, reprehenderit dolorem delectus nesciunt officiis consequatur tenetur voluptatum eaque provident? Distinctio culpa praesentium dicta quibusdam vel, mollitia atque saepe excepturi! Culpa vitae id excepturi praesentium minus ab ullam similique deleniti atque at, voluptas facere quo qui eos cupiditate quisquam magnam expedita, accusamus iste!</p>
  </div>
  
  





  <%- include('partials/footer') %>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</body>
</html>