<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>

  <link rel="stylesheet" href="css/login.css"/>
</head>
<body>
  <%- include('partials/navbar')%>

  <% if (messages && messages.error) { %>
    <div class="alert alert-danger" role="alert">
      <%= messages.error %>
    </div>
  <% } %>

  <% if (messages && messages.success) { %>
    <div class="alert alert-success" role="alert">
      <%= messages.success %>
    </div>
  <% } %>
  
  <!-- views/login-->

<h1>Get Started</h1>
<form action="/login" method="post">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/create-account">Create account</a>.</p>


</body>
</html>