<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>success</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        text-align: center;
        padding: 50px;
      }
  
      h1 {
        color: #4CAF50;
      }
  
      p {
        color: #555;
      }
    </style>
  </head>
  <body>
    <h1>Post Created Successfully</h1>
    <p>redirecting to the viewPage.</p>

    <script>
      // Redirect to another page after a delay (e.g., 3 seconds)
      setTimeout(function () {
        window.location.href = "/viewpost";
      }, 3000);
    </script>
  </body>
</html>
